body {
    background: white url("images/background.png") no-repeat;
    background-position: right top;
    background-size: 100%;
}
li {
    text-decoration: none;
    list-style-type: none;
}
.title a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 6px 3px 3px black;
}
